html {
  background: #e7ebf0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.sputnik-panel {
  background-color: white;
  border: 1px solid #CCC;
}

.root {
  background: transparent;
}

.navigation {
  margin: 20px 0 20px 0;
  width: 100%;
}

.main {
  width: 640px;
  margin: 20px auto 20px auto;
}

.header .title {
  font-size: 58px;
  font-weight: normal;
}

.header .subtitle {
  font-weight: normal;
  font-size: 16px;
  margin-top: 10px;
}
