h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
  font-family: arial, sans-serif;
}

.header {
  font-size: 180%;
  font-weight: bold;
}

div.content {
  width: 450px;
  height: 450px;
}

div.footer {
  text-align: center;
}

div.progress {
  background-color: white;
  text-align: center;
  width: 100%;
  height: 16px;
  border: 1px solid #93B4D9;
  position: relative;
  padding: 1px;
}

div.bar {
  background-color: #93B4D9;
  height: 100%;
  float: left;
}

span.label {
  width: 100%;
  float: left;
  position: absolute;
  display: block;
}

.hidden {
  display: none;
}

#runControls, #runDetails {
  text-align: left;
}

#total {
  font-weight: bold;
}

.tableLabel {
  width: 50%;
}

.tableValue {
  width: 50%;
  text-align: right;
}

.logLine {
  white-space: nowrap;
  border: 1px solid #c4c4c4;
}

.logLine:hover {
  background: #f7f7c7;
  cursor: pointer;
}

.log {
  width: 100%;
  height: 100px;
  overflow: auto;
  background: #f7f7f7;
}

.logTable {
  width: 100%;
  table-layout: fixed;
  display: table;
}

div.plotBox {
  text-align: right;
}

span.topic {
  font-weight: bold;
  color: #214584;
}
