.outer {
  overflow: hidden;
  border: 1px solid #ccc;
  margin: 1px;
  display: block;
  height: 1.25em;
  cursor: pointer;
}

.outer:hover {
  background: #ffffee;
}

.description {
  color: #ccc;
  display: inline;
}

.name {
  display: inline;
}
